.drop-area {
  width: 300px;
  padding: 30px;
  border: 3px dashed #555;
  border-radius: 10px;
  text-align: center;
  color: #555;
  cursor: pointer;
  margin-bottom: 20px;
  transition: background 0.2s, border-color 0.2s;
}

.drop-area.highlight {
  background: #eef;
  border-color: #00f;
}

#fileInfo {
  font-family: Arial;
}
